{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<head>
    <meta http-equiv="refresh" content="60">
</head>
<div class="content">
    <div class="container"><a class="citsmart">Painel Desenvolvimento</a></div>
     <div class="container"><a class="dias">últimos 90 dias</a></div>
    <div class="row" >
        <div class="col-12">
            <div class="card card-chart">
                <div class="card-header">
                    <div class="row">

                        <div class="col-sm-6 ">
                            <h3 class="card-title text-center ">Fila de Atendimento
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                     class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
                                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
                                </svg>
                            </h3>
                              <ul class="five-columns">
                                {% for item in aguardando %}
                                  <li class="card-item">{{ item.id }}</li>
                                {% endfor %}
                            </ul>
                        </div>

                    <div class="col-sm-3 text-right" style="margin-left: auto;">
                            <h3 class="card-title letra-direita">Atendidos
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                     class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
                                    <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5M12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0m2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0M1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1M1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25"/>
                                </svg>
                            </h3>
                            <ul class="tre-columns text-right">
                                {% for item in atendido %}
                                    {% if item.prazo < 1 %}
                                        <li class="card-item card-item-fora-prazo">{{ item.id }}</li>
                                    {% else %}
                                        <li class="card-item">{{ item.id }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

          <div class="col-lg-4 text-center ">
            <div class="card card-chart card-tamanho-pequeno">
                <div class="card-header">
                    <h5 class="card-title">Quantidade em Aberto</h5>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        {{total_id_aberto}}
                    </div>
                </div>
            </div>
        </div>


<div class="col-lg-4 text-center">
            <div class="card card-chart card-tamanho-pequeno">
                <div class="card-header">
                    <h5 class="card-title">Quantidade Encerrados</h5>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        {{total_id}}
                    </div>
                </div>
            </div>
        </div>



            <div class="col-lg-4 text-center">
                <div class="card card-chart card-tamanho-pequeno">
                    <div class="card-header">
                        <h5 class="card-title">Dentro Prazo X Fora Prazo</h5>
                    </div>
                    <div class="chart-area">
                        <canvas id="grafico"></canvas>
                    </div>
                </div>
            </div>

<script>
    var ctx = document.getElementById('grafico').getContext('2d');
    var grafico = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Dentro do prazo: {{ total_dentro_prazo }}', 'Fora do prazo: {{ total_fora_prazo }}'],
            datasets: [{
                data: [{{ total_dentro_prazo }}, {{ total_fora_prazo }}],
                backgroundColor: [
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 99, 132, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                        color: 'white' // Definindo a cor das etiquetas como branca

                    }
                },
                x: {
                    ticks: {
                        color: 'white' // Definindo a cor das etiquetas como branca
                    }
                }
            },
            plugins: {
                legend: {
                    display: false
                }
            }
        }
    });
</script>

    </div>
</div>

{% endblock content %}

